<!--<mat-toolbar>
  Place your bet
</mat-toolbar>-->
<mat-vertical-stepper [linear]="true" #stepper *ngIf="!submitted">
  <mat-step [stepControl]="stepsFormGroup">
    <form [formGroup]="stepsFormGroup">
      <ng-template matStepLabel>Set the step target</ng-template>
      <mat-form-field>
        <input matInput placeholder="Number of steps" formControlName="firstCtrl" required type="number">
      </mat-form-field>
<!--      <div>
        <button mat-button matStepperNext>Next</button>
      </div>-->
    </form>
  </mat-step>
  <mat-step [stepControl]="beneficiaryFormGroup">
    <form [formGroup]="beneficiaryFormGroup">
      <ng-template matStepLabel>Select your charity</ng-template>
      <mat-form-field>
        <input matInput placeholder="Beneficiary" formControlName="beneficiaryControl" required>
      </mat-form-field>
      <!--      <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>-->
    </form>
  </mat-step>
  <mat-step [stepControl]="amountFormGroup">
    <form [formGroup]="amountFormGroup">
      <ng-template matStepLabel>Set your bet amount (Wei)</ng-template>
      <mat-form-field>
        <input matInput placeholder="Bet amount" formControlName="secondCtrl" required type="number">
      </mat-form-field>
<!--      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>-->
    </form>
  </mat-step>
  <mat-step [stepControl]="startDateFormGroup">
    <form [formGroup]="startDateFormGroup">
      <ng-template matStepLabel>Set the challenge start date</ng-template>
      <mat-form-field>
        <input matInput placeholder="Start date" formControlName="thirdCtrl" required type="datetime-local">
      </mat-form-field>
      <!--      <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>-->
    </form>
  </mat-step>
  <mat-step [stepControl]="endDateFormGroup">
    <form [formGroup]="endDateFormGroup">
      <ng-template matStepLabel>Set the challenge end date</ng-template>
      <mat-form-field>
        <input matInput placeholder="End date" formControlName="fourthCtrl" required type="datetime-local">
      </mat-form-field>
      <!--      <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>-->
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
  <div>
      <button mat-button (click)="submitChallenge()">Go</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
<div *ngIf="submitted">
  <app-steps [targetSteps]="targetSteps" [challengeIndex]="challengeIndex" [challengeRequest]="challengeRequest"></app-steps>
</div>
